:root {
  --shape-right: rgb(194, 196, 199);
  --shape-left: rgb(240, 240, 240);
  --link-blue: rgb(57, 120, 245);
  --header-color: rgb(0, 0, 0);
  --para-color: rgb(106, 118, 133);
  --link-alt: rgb(89, 197, 168);
  --circle-background: rgb(237, 242, 254);
  --size-150: 9.375rem;
  --size-100: 6.25rem;
  --size-90: 5.625rem;
  --size-80: 5rem;
  --size-70: 4.375rem;
  --size-60: 3.75rem;
  --size-50: 3.125rem;
  --size-40: 2.5rem;
  --size-30: 1.875rem;
  --size-20: 1.25rem;
  --size-10: 0.625rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

a,
p {
  text-decoration: none;
  color: var(--para-color);
}

li {
  list-style: none;
  padding: 0 var(--size-20);
  height: fit-content;
  align-self: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Roboto", sans-serif;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: var(--size-50);
  background-color: var(--link-blue);
  text-align: center;
  color: #fff;
  border-radius: var(--size-30);
}

.sketch-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-70);
  height: 25px;
  border: 1px solid transparent;
  border-radius: var(--size-20);
  background-color: var(--link-alt);
  color: #fff;
  font-family: "Roboto", sans-serif;
}
