@media (max-width: 1023px) {
  [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: block;
    position: absolute;
    right: 0;
    top: var(--size-50);
    background-image: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.7)
    );
    width: 100%;
    text-align: right;
    box-shadow: 0px 0px 20px rgba(52, 49, 75, 0.1);
  }

  [aria-expanded="true"] ~ ul li a {
    margin-right: var(--size-20);
    color: var(--font-color-dark);
  }

  .header-left {
    width: calc(50% + 50px);
  }

  .header-right {
    width: calc(50% - 50px);
  }

  .top-nav {
    padding: var(--size-30) 0;
  }

  .top-nav nav ul {
    display: none;
  }

  .navbar-toggler {
    display: block;
  }

  .logo {
    width: 200px;
    padding: 0 30px;
  }

  .header-info {
    max-width: 100%;
    padding: var(--size-30) 0;
    flex-direction: column;
  }

  .info {
    width: 100%;
    margin-bottom: var(--size-40);
    text-align: center;
    z-index: 1;
    padding: 0;
  }

  .info > h1 {
    font-size: var(--size-40);
  }

  .info-btns {
    justify-content: center;
  }

  .logo-bubbles {
    width: 100%;
  }

  .separator {
    border-bottom: 30vw solid #fff;
    margin-top: -29.9vw;
  }

  .key-benefits {
    margin-top: 350px;
  }

  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-30);
  }

  .video {
    margin-top: var(--size-50);
  }

  .video-container {
    flex-direction: column;
  }

  .video-info-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .video-container img {
    width: 100%;
    padding-top: var(--size-40);
  }

  .bullet-container {
    width: 100%;
    margin: var(--size-40) 0;
  }

  .bullet-wrapper {
    width: 30%;
  }

  .bullet {
    width: 100%;
    justify-content: start;
  }

  .bullet-wrapper span {
    font-size: 15px;
    margin: 0;
  }

  .executive-container {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .executive-text {
    width: 100%;
    margin-top: var(--size-50);
    text-align: center;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .grid-card {
    grid-column: 1 / span 2;
    align-items: center;
    text-align: center;
  }
  .play-btn-wrapper {
    display: flex;
    justify-content: center;
  }

  .hire-us {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
  }

  .left {
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .footer-top {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .grid-position {
    grid-column: 2 / 2;
  }

  .grid-position-alt {
    grid-column: 3 / span 3;
  }

  .icon-container {
    width: var(--size-30);
    height: var(--size-30);
    font-size: var(--size-20);
  }

  .privacy-container {
    gap: var(--size-50);
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .privacy-right {
    margin: 0;
    gap: var(--size-10);
  }

  .privacy-container form select {
    width: var(--size-150);
    height: var(--size-30);
  }

  .privacy-left {
    font-size: 15px;
  }

  .footer-bottom h6 {
    font-size: 15px;
  }

  .footer-bottom p {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .logo-line {
    padding: 0 var(--size-10);
  }

  .logo-1 {
    margin-left: 0%;
  }

  .logo-2 {
    margin-right: 5%;
  }

  .logo-3 {
    margin-right: 5%;
  }

  .key-benefits {
    margin-top: 350px;
    padding: var(--size-30);
  }

  .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: var(--size-30);
  }

  .video-info-container h2 {
    font-size: var(--size-30);
  }

  .bullet-container {
    flex-direction: column;
    gap: var(--size-20);
  }

  .bullet-wrapper {
    flex-direction: row;
    justify-content: start;
    width: 100%;
  }

  .bullet {
    width: 25%;
  }

  .bullet-wrapper span {
    font-size: var(--size-20);
  }

  .bullet::before {
    content: "";
    height: 0;
  }

  .bullet::after {
    content: "";
    height: 0;
  }

  .executive-img {
    padding: 0 0 0px 30px;
  }

  .trusted-logos {
    flex-direction: column;
    align-items: center;
  }

  .trusted-logos img {
    width: 30%;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .grid-card {
    grid-column: 1 / span 1;
  }

  .grid-card p {
    font-size: var(--size-20);
  }

  .right form {
    padding: 0;
  }

  .left {
    flex-direction: column;
    align-items: start;
  }

  .row {
    flex-direction: column;
  }

  .border {
    width: 100%;
  }

  .row-mobile {
    flex-direction: row;
  }

  .privacy-links {
    margin: 0;
  }

  .privacy-alt {
    display: none;
  }

  .footer-top {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-position {
    grid-column: 1;
  }

  .grid-position-alt {
    grid-column: 1;
  }

  .footer-info {
    align-items: center;
  }

  .footer-info h6 {
    padding: 0;
  }

  .privacy-container {
    flex-direction: column;
  }

  .privacy-right {
    flex-direction: column;
  }
}
