.header-background {
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;
  display: flex;
  background-image: linear-gradient(90deg, #fff, rgba(225, 231, 237, 0.7));
}

.header-left {
  width: calc(100% + 50px);
  height: 100%;
  background-image: linear-gradient(90deg, #fff, rgb(225, 231, 237));
  z-index: -1;
}

.header-right {
  width: calc(30% + 50px);
  height: 100%;
  background-color: grey;
  border-left: 230px solid rgb(225, 231, 237);
  border-bottom: 600px solid transparent;
  box-sizing: border-box;
  z-index: -1;
}

.header-content {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.top-nav {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: var(--size-30) 0;
  margin: auto;
}

.navbar-toggler {
  display: none;
}

.fa-bars {
  width: 40px;
  font-size: 25px;
  color: var(--para-color);
}

.logo {
  width: 300px;
  height: var(--size-70);
}

.top-nav > nav ul {
  display: flex;
}

.top-nav > nav ul li a {
  font-size: var(--size-20);
  font-weight: 300;
}

.top-nav > nav ul li .nav-btn {
  font-size: 15px;
  font-weight: 900;
}

.header-info {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  margin-top: var(--size-150);
  padding: var(--size-30) 0;
  margin: auto;
}

.info {
  width: 50%;
  padding: 0 var(--size-50);
}

.info > h1 {
  font-size: var(--size-60);
  font-weight: 400;
}

.info > p {
  margin: var(--size-20) 0;
  font-size: var(--size-20);
  word-spacing: 2px;
}

.info-btns {
  display: flex;
  align-items: center;
  gap: var(--size-40);
}

.play-btn {
  width: 175px;
  height: var(--size-60);
  font-weight: 400;
  font-size: 15px;
}

.fa-solid {
  padding-right: var(--size-10);
}

.blue {
  color: var(--link-blue);
}

.thicker {
  font-weight: 700;
}

.logo-bubbles {
  width: 50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: var(--size-60);
}

.logo-line {
  padding: 0 var(--size-40);
  display: flex;
  justify-content: space-between;
}

.logo-1,
.logo-2,
.logo-3,
.logo-4,
.logo-5,
.logo-6,
.logo-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.logo-1 {
  width: var(--size-70);
  height: var(--size-70);
  margin-left: 9%;
}

.logo-1 > img {
  width: var(--size-50);
  height: var(--size-50);
}

.logo-2 {
  width: var(--size-90);
  height: var(--size-90);
  margin-right: 20%;
}

.logo-2 > img {
  width: var(--size-60);
  height: var(--size-60);
}

.logo-3 {
  width: var(--size-90);
  height: var(--size-90);
  margin-right: 10%;
}

.logo-3 > img {
  width: var(--size-60);
  height: var(--size-60);
}

.logo-4 {
  width: var(--size-90);
  height: var(--size-90);
}

.logo-4 > img {
  width: var(--size-60);
  height: var(--size-60);
}

.logo-5 {
  width: var(--size-90);
  height: var(--size-90);
  margin-right: 35%;
}

.logo-5 > img {
  width: var(--size-60);
  height: var(--size-60);
}

.logo-6 {
  width: var(--size-60);
  height: var(--size-60);
  margin-left: 35%;
}

.logo-6 > img {
  width: var(--size-50);
  height: var(--size-50);
}

.logo-7 {
  width: var(--size-80);
  height: var(--size-80);
  margin-right: 10%;
}

.logo-7 > img {
  width: var(--size-50);
  height: var(--size-50);
}

.separator {
  width: 0;
  height: 0;
  border-left: 100vw solid transparent;
  border-bottom: 17vw solid #fff;
  margin-top: -16.9vw;
  position: absolute;
}

.key-benefits {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: var(--size-50);
}

.card-header {
  text-align: center;
}

.card-header h2 {
  font-size: var(--size-40);
  margin-bottom: 15px;
}

.card-header p {
  font-size: var(--size-20);
}

.card-wrapper {
  margin-top: var(--size-100);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--size-50);
}

.key-cards {
  min-height: 350px;
  padding: var(--size-20);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  transition: transform 1s;
}

.key-cards img {
  width: var(--size-60);
  height: var(--size-60);
}

.key-cards h3,
p,
a {
  font-size: var(--size-20);
}

.key-cards h3 {
  margin: var(--size-20) 0;
  font-weight: 700;
}

.key-cards p {
  line-height: 1.6;
  margin-bottom: var(--size-20);
  word-spacing: 3px;
}

.key-cards a {
  font-weight: 500;
}

.key-cards:hover {
  transform: scale(1.08);
}

.premium-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.video {
  padding: var(--size-40);
  margin-top: var(--size-50) 0;
}

.video-container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  background-color: rgba(211, 211, 211, 0.2);
}

.video-info-container {
  align-self: center;
  padding: 0 var(--size-30);
}

.video-container img {
  width: 50%;
  padding-top: var(--size-150);
}

.video-info-container h2 {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 30px;
}

.why-front {
  max-width: 1400px;
  padding: var(--size-40);
  margin: auto;
}

.why-img > img {
  width: 100%;
}

.bullet-container {
  display: flex;
  justify-content: center;
  margin: var(--size-60);
}

.bullet-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bullet {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.circle {
  width: var(--size-60);
  height: var(--size-60);
  min-width: var(--size-60);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: rgba(57, 120, 245, 0.2);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--link-blue);
}

.bullet::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(57, 120, 245, 0.2);
}

.bullet::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(57, 120, 245, 0.2);
}

.bullet-wrapper:first-of-type .bullet::before {
  height: 0;
}

.bullet-wrapper:last-of-type .bullet::after {
  height: 0;
}

.bullet-wrapper span {
  font-family: "Roboto", sans-serif;
  font-size: var(--size-20);
  margin: var(--size-30) var(--size-80);
}

.executive {
  max-width: 1400px;
  margin: auto;
  padding: var(--size-40);
}

.executive-container {
  padding: var(--size-80);
  display: flex;
  align-items: center;
  gap: var(--size-80);
  margin-right: var(--size-40);
}

.executive-img {
  height: 500px;
  position: relative;
}

.executive-img img {
  width: 100%;
  height: 100%;
}

.dots {
  position: absolute;
  left: -162px;
  bottom: -76px;
  z-index: -1;
}

.executive {
  padding: var(--size-40);
}

.executive-container {
  padding: var(--size-80);
  display: flex;
  align-items: center;
  gap: var(--size-80);
  margin-right: var(--size-40);
}

.executive-img {
  height: 500px;
  position: relative;
}

.executive-img img {
  width: 100%;
  height: 100%;
}

.dots {
  position: absolute;
  left: -162px;
  bottom: -76px;
  z-index: -1;
}

.executive-text {
  width: 50%;
}

.executive-text img {
  width: 25%;
}

.executive-text p {
  font-size: var(--size-30);
  margin: 40px 0 60px 0;
  color: black;
}

.executive-text h4 {
  color: var(--para-color);
}

.trusted {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: var(--size-40);
}

.trusted h3 {
  text-align: center;
  font-size: var(--size-30);
  color: var(--para-color);
}

.trusted-logos {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: var(--size-40) 0;
}

.trusted-logos img {
  width: 15%;
}

.pricing {
  max-width: 1400px;
  margin: auto;
  padding: var(--size-40);
}

.pricing h3 {
  text-align: center;
  font-size: var(--size-40);
  margin-bottom: 15px;
}

.pricing > p {
  text-align: center;
  font-size: var(--size-20);
}

.grid-container {
  margin-top: var(--size-100);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--size-40);
}

.grid-card {
  width: 100%;
  grid-row: 1 / span 3;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.grid-card h4 {
  font-size: var(--size-70);
  font-weight: 400;
  padding: var(--size-30);
}

.grid-card h4::after {
  content: "/ mo";
  font-size: var(--size-30);
  color: var(--para-color);
  padding: var(--size-10);
}

.grid-card hr {
  margin: var(--size-30);
}

.grid-card p {
  font-size: var(--size-20);
  line-height: 1.6;
  word-spacing: 2px;
  margin-bottom: var(--size-90);
  padding: var(--size-30);
}

.grid-card .play-btn-alt {
  width: 12.5rem;
  height: var(--size-60);
  margin: var(--size-20);
}

.grid-card h5 {
  margin: var(--size-10);
  font-size: var(--size-20);
  font-weight: 400;
  color: var(--para-color);
  margin: var(--size-20);
}

.grid-item img {
  width: var(--size-80);
  height: var(--size-80);
}

.grid-item h4 {
  margin: var(--size-30) 0;
  font-size: var(--size-20);
  font-weight: 500;
}

.grid-item p {
  font-size: var(--size-20);
  font-weight: 400;
  word-spacing: 5px;
  word-wrap: break-word;
}

.grid-sketch {
  display: flex;
  align-items: center;
  gap: var(--size-10);
}

.hire-us {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: var(--size-40);
  display: flex;
  justify-content: space-between;
  gap: var(--size-30);
  background-color: rgb(33, 49, 85);
  background-image: url(./saas-project-assets/abstract/hire-us-transparent-pattern-bg.svg);
}

.left {
  display: flex;
  flex-direction: column;
  padding-left: var(--size-50);
}

.left h2 {
  margin-top: var(--size-100);
  margin-bottom: var(--size-30);
  font-size: var(--size-50);
  font-weight: 400;
  color: #fff;
}

.left p {
  font-size: 25px;
}

.white-line {
  width: 300px;
  height: 2px;
  margin: 40px 0;
  background-color: #fff;
}

.left h3 {
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
  color: #fff;
}

.left h4 {
  font-size: 25px;
  font-weight: 400;
  margin-top: 40px;
  color: #fff;
}

.left h5 {
  font-size: var(--size-20);
  color: var(--para-color);
  font-weight: 400;
}

.hire-us-img {
  margin-top: var(--size-40);
  display: flex;
  align-items: center;
}

.hire-us-img img {
  width: var(--size-100);
  height: var(--size-100);
  border: 2px solid transparent;
  border-radius: 50%;
  padding: var(--size-20);
}

.hire-us-img img:nth-child(3) {
  width: 125px;
  height: 125px;
  border: 2px solid transparent;
  border-radius: 50%;
}

.right {
  width: 40%;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: var(--size-20);
}

.right h3 {
  margin: var(--size-20) 37px;
  font-size: 22px;
  font-weight: 500;
}

.right form {
  padding: var(--size-10) var(--size-30);
  /* margin: var(--size-20); */
}

.row {
  display: flex;
  gap: var(--size-20);
  padding: var(--size-10);
}

.input {
  width: 100%;
  border: none;
  outline: none;
}

.border {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid #dddd;
  border-radius: 10px;
  padding: 2px;
}

.border-alt {
  width: 100%;
  border: 1px solid #dddd;
  border-radius: 10px;
  padding: var(--size-10);
}

textarea {
  width: 100%;
  outline: none;
  border: none;
  padding: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  word-spacing: 3px;
}

.terms {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

input.checkbox {
  width: var(--size-50);
  height: var(--size-50);
  border: 1px solid #dddd;
  border-radius: 2px;
  outline: none;
}

.privacy-links {
  display: flex;
  margin-top: -2.5rem;
}

.privacy {
  margin: var(--size-20);
  color: var(--para-color);
  border-bottom: 2px dotted var(--para-color);
  font-family: "Roboto", sans-serif;
}

.privacy-alt {
  margin: var(--size-20);
  padding: 0 10px;
  color: var(--link-blue);
  border-bottom: 2px dotted var(--link-blue);
  font-family: "Roboto", sans-serif;
}

.get-started {
  width: 200px;
  height: var(--size-60);
  margin: var(--size-20);
}

.footer {
  max-width: 1400px;
  margin: auto;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: var(--size-30);
  padding: var(--size-40);
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: var(--size-20);
}

.footer-img {
  width: var(--size-150);
  height: var(--size-60);
}

.footer-info h6 {
  font-size: var(--size-30);
  font-weight: 600;
  padding-right: var(--size-60);
  text-align: left;
}

.footer-info div {
  font-size: var(--size-20);
  font-family: "Roboto", sans-serif;
  color: var(--para-color);
}

.hiring-container {
  display: flex;
  align-items: center;
  gap: var(--size-10);
}

.hiring {
  width: var(--size-80);
  height: var(--size-20);
  font-size: var(--size-10);
  border-radius: 5px;
}

.icon-wrapper {
  display: flex;
  gap: var(--size-10);
}

.info-icon {
  width: var(--size-30);
  height: var(--size-30);
  border: 1px solid grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.info-icon i {
  padding: 0;
  color: #fff;
  font-size: var(--size-20);
}

.footer hr {
  margin: var(--size-60);
}

.privacy-container {
  padding: 0 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.privacy-left {
  font-size: var(--size-20);
  color: var(--para-color);
  font-family: "Roboto", sans-serif;
  word-spacing: 5px;
}

.privacy-right {
  margin-right: 120px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.privacy-top {
  display: flex;
  gap: 15px;
}

.icon-container {
  width: var(--size-50);
  height: var(--size-50);
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: rgb(225, 231, 237);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-30);
  color: #5a5a5a;
}

.icon-container:nth-child(2) {
  background-color: #5a5a5a;
  color: rgb(225, 231, 237);
}

.privacy-container form {
  margin: 0;
  padding: 0;
}

.privacy-container form select {
  width: 200px;
  height: var(--size-50);
  background-color: rgb(225, 231, 237);
  border: none;
  outline: none;
  border-radius: 5px;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
}

.footer-bottom h6 {
  font-size: var(--size-20);
  font-weight: 400;
  color: var(--para-color);
}

.footer-bottom p {
  margin: var(--size-40);
  font-size: var(--size-20);
  word-spacing: 2px;
}
